<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @friend.degree %>
</p>

<p>
  <strong>Last seend:</strong>
  <%= @friend.last_seend %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
